html, body {
    margin: 0;
    min-height: 100%;
    color: #fff;
    background-color: gray;
    font-weight: bold;
    font-size: 30px;
}

.garage {
    background-color: #2c3e50;
    display: flex;
    flex-wrap: wrap;

}

#garage > .camion.sepia {
    /* display: none; */
}

#monte-charge {
    background-color: #95a5a6;
    border: 5px dashed #fff;
    height: 300px;
    width: 300px;

    align-self: flex-start;
}

.voiture {
    background-image: url("../assets/car-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border: 3px dashed #34495e;
    height: 300px;
    width: 300px;
}

.camion {
    background-image: url("../assets/truck.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 3px dashed #34495e;
    height: 600px;
    width: 600px;
}

.red {
    background-image: url("../assets/car-orange.png");
}

.taxi {
    background-image: url("../assets/car-yellow.png");
}

.sepia {
    filter: sepia(100%);
}